<%
# frozen_string_literal: true

# Copyright 2018 Matthew B. Gray
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
%>
Kia Ora;

We're emailing you becasue we've recieved a request for a login link.

<%= user_token_path(@token) %>

Visiting this URL will automatically log you in, with no need for passwords or other credentials. Please don't share the
link or forward this email, as that'll allow any recipients to also access your account.

This link will expire 10 minutes after it was created, but you can always create another one if you need.

If you've got any queries or concerns, please reply to this email.

CoNZealand – registration@conzealand.nz

https://conzealand.nz/
