<%#
  Copyright 2018 Rosanna Gray
  Copyright 2019 Matthew B. Gray

  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  the Software, and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<h1>New Membership</h1>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="l-panel">
        <h2>Sign Up</h2>
        <%= render "detail_form" %>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="l-panel l-panel-m-membership-types">
        <h2>Attending Membership</h2>

        <p>
          An Attending Membership is for people who can attend the convention physically.
          There are a number of different types of Attending Memberships.
          Attending Memberships are all inclusive.
          You do not have to pay anything more for autographs, attendance to panels, dances and so on.
          Note that some external events that are affiliated with, but not organised by, CoNZealand may have extra fees.
        </p>

        <p>
          You will receive all our publications.
          This also comes with the right to nominate and vote in the Hugo Awards in 2020.
          You can also vote in Site Selection for the 2022 Worldcon.
        </p>

        <p>
          Note: Kid In Tow does NOT come with voting rights in the Hugo Awards or Site Selections.
        </p>

        <h2>Supporting Membership</h2>

        <p>
          A Supporting Membership is for people who cannot attend the convention physically.
          You will receive all our publications.
          This also comes with the right to nominate and vote in the Hugo Awards in 2020.
          You can also vote in Site Selection for the 2022 Worldcon.
        </p>

        <p>
          You can always upgrade your supporting membership to attending memberships, at the price difference at the
          time.
        </p>

        <h2>Membership Transfer</h2>

        <p>
          We are happy to fully transfer a membership to another person.
          The person wanting to transfer, and the person receiving the transfer need to contact us at
          <a href="email:registrations@conzealand.nz">registrations@conzealand.nz</a>
        </p>

        <p>
          The transfer is of all rights that go along with that membership. If any of those rights have been exhausted,
          eg. by nominating or voting in the Hugos, then those rights are not available anymore.
        </p>

        <p>
          If the transferer wants to then be a supporting member in order to get rights for Hugo nominations, voting
          and Site Selection, then they will need to take out a fresh supporting membership.
        </p>
      </div>
    </div>
  </div>
</section>
