<%
# Copyright 2019 Matthew B. Gray
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
%>

<% if notice.present? %>
  <p class="alert alert-primary alert-dismissible fade show" role="alert"><%= notice %></p>
<% end %>

<% if alert.present? %>
  <p class="alert alert-warning alert-dismissible fade show" role="alert">Alert: <%= alert %></p>
<% end %>
